input, button {
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.inside-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.informational-text {
    font: bold 16px Helvetica;
    margin: auto;
}

.slider-container {
    display: flex;
}

.slider-text {
    margin-right: 16px;
}

.color-picker-container, .change-background-container, .change-ink-container {
    display: flex;
    flex-direction: column;
}

.color-picker-container {
    gap: 16px;
}

.sketch-type-buttons, .preferences-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input[type='color'] {
    border: none;
    height: 70px;
    width: 70px;
    padding: 0;
    margin: auto;
}

button {
    background-color: #0476aa;
    border: none;
    border-radius: 32px;
    color: white;
    padding: 20px;
    font-size: 16px;
}

.grid {
    background-color: #808080;
    margin: 64px;
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
}

.gridCell {
    height: 100%;
    width: 100%;
}

.drawing-preference {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.bottom-preferences {
    display: flex;
    align-items: center;
}